<!DOCTYPE html>
<html>
  <head>
    <title>WeatherApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Please log in to use the app. </h1>
  </body>
</html>

